@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
  padding: 0;
  margin: 0;
}

#scoreBox {
  position: absolute;
    top: 100px;
    right: 85px;
    width: 300px;
    border: 5px solid black;
    background: rgb(236, 236, 167);
    font-size: 39px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
    padding: 10px;
  }
  
  #hiscoreBox {
    position: absolute;
    top: 200px;
    right: 85px;
    width: 300px;
    padding: 10px;
    border: 5px solid black;
    background: rgb(236, 236, 167);
    font-weight: bold;
    font-size: 39px;
  font-family: "New Tegomin", serif;
}

#board {
  background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
  width: 55vw;
  height: 90vh;
  border: 10px solid black;
  display: grid;
  position: absolute;
  top: 10px;
  left: 38px;
  grid-template-rows: repeat(25, 1fr);
  grid-template-columns: repeat(25, 1fr);
}

.speed {
    position: absolute;
    top: 35px;
    right: 25px;
}
.sound {
    position: absolute;
    top: 65px;
    right: 25px;
}
/* .vol{
    position: absolute;
    top: 50px;
    left: 60px;
} */
.custom-btn {
    width: 75px;
    height: 35px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}
.btn-1 {
    background: rgb(6, 14, 131);
    background: linear-gradient(
        0deg,
        rgba(6, 14, 131, 1) 0%,
        rgba(12, 25, 180, 1) 100%
        );
        border: none;
        margin: 10px;
    }
    .btn-1:hover {
        background: rgb(0, 3, 255);
        background: linear-gradient(
            0deg,
            rgba(0, 3, 255, 1) 0%,
            rgba(2, 126, 251, 1) 100%
            );
        }
        .btn-2 {
          background: rgb(96,9,240);
          background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
          border: none;
          
        }
        .btn-2:before {
          height: 0%;
          width: 2px;
        }
        .head {
            background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
            border: 2px solid rgb(34, 4, 34);
            transform: scale(1.02);
            border-radius: 9px;
        }
        
        .snake {
            background-color: purple;
            border: 0.25vmin solid white;
            border-radius: 12px;
        }
        
        .food {
            background: linear-gradient(rgb(219, 11, 115), purple);
            border: 0.25vmin solid black;
            border-radius: 8px;
        }
        
        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 40px 100px;
            z-index: 10000;
            transition: 0.6s;
        }
        
        header .logo {
            position: relative;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            font-style: 2em;
            text-transform: uppercase;
            list-style: 2px;
            transition: 0.6s;
        }
        
        header #toggle {
            position: relative;
            width: 30px;
            height: 30px;
            right: 150px;
            cursor: pointer;
        }
        
        header #toggle::before {
            content: " ";
            position: absolute;
            top: 7px;
            width: 100%;
            height: 2px;
            background: #fff;
        }
        
        header #toggle::after {
            content: " ";
            position: absolute;
            bottom: 7px;
            width: 100%;
            height: 2px;
            background: #fff;
        }
        
        .banner.active header #toggle::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        
        .banner.active header #toggle::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        
        .banner {
            position: fixed;
            width: 100%;
            min-height: 100vh;
            /* padding: 100px; */
            background: url("../img/bg.jpg");
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
  z-index: 2;
  /* background-size: 100vw 100vh;
    background-repeat: no-repeat;
    align-items: center; */
}

.content {
  max-width: 80vw;
  align-items: center;
  justify-content: center;
}

.banner.active {
  transform: translateX(-70vw);
  transition: 0.5s;
}

#navigation {
  position: fixed;
  padding: 10px 0 0 0;
  top: 0;
  right: 0px;
  width: 70vw;
  height: 100vh;
  background: rgb(108, 156, 11);
  z-index: 1;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

#navigation.active {
  right: 0px;
}

#navigation ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

#navigation ul li ,
#joystick ul li{
  list-style: none;
}

#joystick{
  position: absolute;
  top: -200px;
}

/* tab version */
@media(max-width: 1024px) {
  #board{
    height: 900px;
    width: 851px;
    left: 5px;
    padding: 10px;
    border: 3.5px solid black;
  }
  #scoreBox {
    font-size: 28px;
    top: 1000px;
    left: 25px;
    width: 20vw;
    padding: 10px;
  }
  #hiscoreBox {
    font-size: 28px;
    top: 1100px;
   left: 25px;
    width: 20vw;
    padding: 5px;
  }
  header #toggle{
    right: 150px;
  }
  #joystick{
    position: fixed;
    bottom: 70px;
    right: 150px;
    width: 40vw;
    height: 20vh;
    /* border: 5px solid black; */
    /* background: rgb(236, 236, 167); */
    z-index: 5;
  }
  #joystick .up{
    position: fixed;
    top: 1040px;
    right: 280px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 150px;
    height: 75px;
    font-size: 11;
  }
  #joystick .down{
    position: fixed;
    top: 1200px;
    right: 280px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 150px;
    height: 75px;
    font-size: 28;
    padding: 0px;
  }
  #joystick .left{
    position: fixed;
    top: 1075px;
    right: 450px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 75px;
    height: 150px;
    font-size: 11;
  }
  #joystick .right{
    position: fixed;
    top: 1075px;
    right: 185px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 75px;
    height: 150px;
    font-size: 11;
  }
}
@media(max-width: 780px) {
  #board{
    height: 600px;
    width: 650px;
    left: 5px;
    padding: 10px;
    border: 3.5px solid black;
  }
  #scoreBox {
    font-size: 28px;
    top: 690px;
    left: 25px;
    width: 20vw;
    padding: 5px;
  }
  #hiscoreBox {
    font-size: 28px;
    top: 755px;
   left: 25px;
   width: 20vw;
   padding: 5px;
  }
  header #toggle{
    right: 130px;
  }
  #joystick .up{
    position: fixed;
    top: 750px;
    right: 265px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 11;
  }
  #joystick .down{
    position: fixed;
    top: 890px;
    right: 265px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 28;
    padding: 0px;
  }
  #joystick .left{
    position: fixed;
    top: 790px;
    right: 380px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50px;
    height: 100px;
    font-size: 11;
  }
  #joystick .right{
    position: fixed;
    top: 790px;
    right: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50px;
    height: 100px;
    font-size: 11;
  }
}

@media(max-width: 480px) {
  #board{
    height: 80vw;
    width: 90vw;
    top: 90px;
    left: 5px;
    padding: 10px;
    border: 3.5px solid black;
  }
  #scoreBox {
    font-size: 18px;
    top: 560px;
    left: 15px;
    width: 110px;
    height: 30px;
    padding: 2px;
    text-align: center;
  }
  #hiscoreBox {
    font-size: 18px;
    text-align: center;
    top: 500px;
    left: 15px;
    width: 110px;
    padding: 1px;
  }
  header #toggle{
    right: 130px;
  }

  #joystick .up{
    top: 600px;
    right: 75px;
    width: 80px;
    height: 35px;
  }
  #joystick .down{
    top: 700px;
    right: 75px;
    width: 80px;
    height: 35px;
    padding: 0px;
  }

  #joystick .left{
    top: 625px;
    right: 160px;
    width: 35px;
    height: 80px;
    padding: 0px;
  }
  #joystick .right{
    top: 625px;
    right: 35px;
    width: 35px;
    height: 80px;
    padding: 0px;
  }
}

@media(max-width: 380px) {
  #joystick .up{
    top: 500px;
  }
  #joystick .down{
    top: 585px;
  }
  #joystick .left{
    top: 520px;
  }
  #joystick .right{
    top: 520px;
  }
  #scoreBox {
    top: 500px;
  }
  #hiscoreBox {
    top: 550px;
  }
}
@media(max-width: 320px) {
  #joystick .up{
    top: 400px;
    right: 53px;
  }
  #joystick .down{
    top: 485px;
    right: 53px;
  }
  #joystick .left{
    top: 420px;
    right: 140px;
  }
  #joystick .right{
    top: 420px;
    right: 10px;
  }
  #scoreBox {
    top: 400px;
    left: 5px;
  }
  #hiscoreBox {
    top: 450px;
    left: 5px;
  }

}

